.blue{
      background-color:#404040;
      height:1500px;
      width:250px;
      color:white;
      border:1px solid black;
      left:50%;
         }
.blu{
      height:50px;
    	width:1380px;
    	background-color:#484e58;
     }
      .right{
          	height:100px;
          	width:300px;
          	padding:3px;
          	margin:auto;
            background-color:#1ef5f2;
            margin-top: 10px;"
          	text-align:center;

          }
      .lightpink{
            
             right:0;
          }
      .color{
        	background-color:#CCE5FF;
        	
            }
      
      .name{
      	width:1080px;
      	height:1200px;
        margin-left:10px;
      }
      .textcol{
      	color: white;
      }
      td,th{
	      style="padding:5px;"
	      border:1px solid grey;
	  }
	  th{
	  	background-color:#FFFFCC;
	  }
	  td{
	  	background-color:#E0E0E0;
	  }
	  
.error{
      color:red;
	  margin-left:5px;
      }	
label.error{
         
           }
		   
form div {
  margin-bottom: 10px;
}
form label {
  display: inline-block;
  width: 100px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}



table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}