.blue{
      background-color:#404040;
      height:1500px;
      width:250px;
      color:white;
      border:1px solid black;
      left:50%;
         }
.blu{
      height:50px;
    	width:1380px;
    	background-color:#484e58;
     }
      .right{
          	height:100px;
          	width:300px;
          	padding:3px;
          	margin:auto;
            background-color:#1ef5f2;
            margin-top: 10px;"
          	text-align:center;

          }
      .lightpink{
            
             right:0;
          }
      .color{
        	background-color:#CCE5FF;
        	
            }
      .mar{
        	margin-left:20px;
        }
      .name{
      	width:1080px;
      	height:1200px;
        margin-left:10px;
      }
      .textcol{
      	color: white;
      }
      td,th{
	      style="padding:5px;"
	      border:1px solid grey;
	  }
	  th{
	  	background-color:#FFFFCC;
	  }
	  td{
	  	background-color:#E0E0E0;
	  }
	  